body {
 
    font-family: Nunito Sans;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9d5b1;
  } 
  header {
    background-color: #f9d5b1;
    color:#fff;
    padding: 10px 20px;
  }
  
  .nav-container {
   
    display: grid;
    justify-content: space-between;
    align-items: center;
  }
  .home-btn{
    display: flex;
    
  }
  .brand{
    display: flex;
    justify-content:center;
    align-items: center;
   
  
  }
  .brand img{
    width: 25%;
    height: 50%;
   
   margin-left: 30%;
  }
  .nav-mobile {
    display: none;
  }
  .home-btn a, .nav-list a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    margin: 0 10px;
    font-size: 3.5vh;
    font-weight: 600;
  }
  .C{
   
    width: 50px; 
    height: 50px; 
    background-color:rgba(139, 0, 0, 1);
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 30px; 
    font-weight: bold;
    margin-right: 30px;
    margin-left: 10px;
  }
  .nav-list, .nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .C a{
    font-size: 90%;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
   
  }
  #nav-list-icon-1,#nav-list-icon-2{
   font-size: 100%;
  }
  
  
  /* Hamburger starts.......... */
  #check{
    display: none;
  }
  #checkbtn{
    display: none;
  }
  .Hamburger-nav{
    z-index: 1000;
     list-style-type: none;
     color: white;
     text-decoration: none;
     display: none;
  }
  .hamburger-icon{
    display: flex;
    position: relative;
    left: 50%;
    font-size: 2vw;
  }
   
     /*  product component start */
     main {
      padding: 20px;
  }
   
  .product-page{
    display: flex;
   
    /* flex-direction: row; */
  }
  
  .breadcrumb {
      font-size: 14px;
      margin-bottom: 10px;
  }
  
  .breadcrumb a {
      text-decoration: none;
      color: #6a542f;
      font-size: 1.3vw;
  }
  
  .product-page {
      display: flex;
  }
  .product-image {
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content:right;
    align-items: center;
    padding-top: 5%;
    transform: translateY(-7%);
  }
  .product-image img {
      width: 50%;
      height: 100%;
     border-radius: 5%;
     margin-top: -5%;
  }
 

  .product-details {
      margin-left: 5px;
      width: 50%;
      height: 30vh;
     padding: 2% 0 2% 0;
     transform: translateY(-8%);
  }
  .product-details h1 {
    font-size: 1.4vw;
    margin-top: 0;
  }
  .product-details h2 {
      font-size: 1.3vw;
      font-weight: 500;
      margin-top: 0;
      color: #6a542f;
  }
  
  .price {
      font-size: 18px;
      margin-top: 10px;
      color: rgba(139, 0, 0, 1);
  }
  
  .special-price {
    font-size: 1.8vw;
      font-weight: bold;
  }
  
  .original-price {
      text-decoration: line-through;
      margin-left: 10px;
      font-size: 0.9vw;
   
  }
 
   #Qty{
    background-color: rgba(210, 127, 127, 1);
   }
  .rating h3{
    margin-left: 0.4vw;
    font-size: 1.13vw;
  }
  
  .offers {
      margin-top: 20px;
  }
  .offers a {
   text-decoration: none;
   color: black;
   font-size: 1vw;
   font-weight: 500;
}
  
  .offers h1 {
      margin-top: 0;
      color: rgba(139, 0, 0, 1);
  }
  .offers h4 {
    margin-top: 0;
    color: rgba(139, 0, 0, 1);
}
  
  .offers ul {
      list-style: none;
      padding: 0;
  }
  
  .offers li {
      margin-bottom: 5px;
  }
  
  .offers a {
      text-decoration: none;
      color:black;
      
  }
  .icon-tag{
    margin-right: 1vw;
  }

 /* coupon buttons start*/
 .button-container {
  display: flex;
  gap: 10px;
  margin-top: 2vw;
}
.button-container-left,.button-container-right{
  display: flex;
  flex-direction: column;
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.left {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #b81b1c;
  
  border-radius: 5px;
  position: relative;
  width: 280px;
 
}

.left .text {
  font-weight: bold;
  font-size: 16px;
  margin-top: -5%;
}

.left .description {
  font-size: 12px;
  margin-top: 5px;
}

.left .apply-button {
  background-color: transparent;
  color: #b81b1c;
  border: none;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 23px;
}
.left-star{
  right: 45%;
  top: 23%;
  font-size: 1.5vw;
  position: relative;
}

.right {
  background-color: #e8a097;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
}

.right .icon {
  font-size: 20px;
}

.right .description {
  font-size: 14px;
  padding: 0.3vw 0 0.3vw 0;
  color: #b81b1c;
}

.button-apply-more,
.button-bank-offers {
  background-color: #b81b1c;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.3%;
}

.button-apply-more:hover,
.button-bank-offers:hover {
  opacity: 0.8;
}

/* coupon button end */


  .delivery {
   
      margin-top: 20px;
      width: 100%;
      height: 100px;
  }
  .delivery-box{
    display: flex;
    flex-direction: column;
    
    /* align-items: center; */
  }
  .input-check{
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  .delivery-box i{
   margin-right: 0.8vh;
  }
  
  .delivery label {
      display: block;
      margin-bottom: 5px;
      margin-right: 2vh;
  }
  
  .delivery input {
      padding: 5px;
      /* margin-right: 10px; */
      border: 1px solid black;
      background-color:#f9d5b1;
     border-top: none;
     border-right: none;
     border-left: none;
     width: 30%;
    
  }
  .delivery input::placeholder{
    color: rgba(210, 127, 127, 1);
  }
  .delivery input:focus{
    outline: none;
  }
  
  .delivery button {
      border-radius: 28px;
      font-family: Arial;
      color: #ffffff;
      font-size: 12px;
      background: rgba(210, 127, 127, 1);
      padding: 1px 14px 1px 14px;
      text-decoration: none;
      border-color:rgba(210, 127, 127, 1); 
  }
  
  .actions {
      margin-top: 20px;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  
  
  .actions .primary-1 {
      background-color: rgba(139, 0, 0, 1);
      border-radius:1000px;
      padding:20px 14px;
      color:#ffffff;
      display:inline-block;
      font: normal 1.4vw/1 "Open Sans", sans-serif;
      text-align:center;
      border: none;
      cursor: pointer;
      margin-right: 3%;  
      margin-bottom: 1vw;
  }
  .actions .primary-2 {
    background-color: rgba(139, 0, 0, 1);
    border-radius:1000px;
    padding:20px 14px;
    color:#ffffff;
    display:inline-block;
    font: normal 1.4vw/1 "Open Sans", sans-serif;
    text-align:center;
    border: none;
    cursor: pointer;

}

.order-summary{
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 2vw;
}
.order-summary-aside{
  width: 100%;
  height: 100%;
  line-height: 0.5vw;
}
.order-summary-aside h2{
color: rgba(132, 41, 43, 1);
}
.order-summary-aside-box{
  display: flex;
  flex-direction: column;
  line-height: 0.001vw;
}
.order-summary-aside-box span{
  float: right;
  
}

.checkout-btn{
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: rgba(131, 39, 41, 1);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  position: relative;
  left: 20%;
}
 
 
  /* responsive design */



/* Responsive Design */
@media (max-width: 768px) {
  .hero {
      flex-direction: column;
  }

  .categories, .products, .bridal-images, .genders, .recommendation-items {
      flex-direction: column;
      align-items: center;
  }

  .crystal, .carat, .products .product, .bridal-images .images, .genders .gender, .recommendation-items .recommendation {
      flex: 1 1 100%;
  }
}

/* ////////////// */
@media screen and (min-width: 360px) and (max-width: 768px) {
  #check{
    display: none;
  }
 #check:checked ~ul{
    left:0;
   
  }
  #checkbtn{
    display:block;
    position: relative;
    left: -3%;
    font-size: 3vw;
  }
  .Hamburger-nav{
     list-style-type: none;
     color: white;
     text-decoration: none;
     display: flex;
     flex-direction: column;
     justify-content: center;
     position: absolute;
     top: 8%;
     background-color: rgba(131, 39, 41, 1);
     width: 95%;
     height: 60%;
     left: -200%;
     position: absolute;
     transition: .5s;
  }
  .Hamburger-nav a,.Hamburger-nav li{
    color: white;
    text-decoration: none;
   margin: 1rem;
  
  }
  .hamburger-icon{
    display: flex;   
  }
  .home-btn a,.brand a,.nav-list a,.C{
    display: block;
  }
  .home-btn a,.C{
    display: none;   
  } 
}
