body {
    font-family: Nunito Sans;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(254, 215, 186, 1);
  }
  header {
    background-color: #f9d5b1;
    color: #fff;
    padding: 6vh;
  }
  
  .nav-container {
    display: grid;
    justify-content: space-between;
    align-items: center;
  }
  .home-btn{
    display: flex;
    
  }
  .brand{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .brand img{
     width: 17vw;
  height: 4vw;
   position: absolute;
  top: calc(6% - 4vw / 2); 
  left: calc(50% - 17vw / 2);
  
  }
  .nav-mobile {
    display: none;
  }
  .home-btn a, .nav-list a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    margin: 0 10px;
    font-size: 3.5vh;
    font-weight: 600;

  }

  .home-btn{
    width: 80vw;
    height: 4vw;
   position: absolute;
    top: calc(6% - 4vw / 2); 
    left: calc(13% - 30vw / 2); 
  }
  .nav-list{
  /* width: 80vw; */
  height: 4vw;
  position: absolute;
  right: 20px; 
  /* top: 50%;  */
  transform: translateY(-50%);
  transform: translateY(-50%);
  /* top: calc(5% - 4vw / 2); 
  left: calc(87% - 80vw / 2);  */
  }
  
  .C{
   
    width: 50px; 
    height: 50px; 
    background-color:rgba(139, 0, 0, 1);
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 30px; 
    font-weight: bold;
    margin-right: 30px;
    margin-left: 10px;
  }
  .nav-list, .nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }
  
  .C a{
    font-size: 90%;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
   
  }
  #nav-list-icon-1,#nav-list-icon-2{
   font-size: 100%;
  }
  
  
  /* Hamburger starts.......... */
  #check{
    display: none;
  }
  #checkbtn{
    display: none;
   
    /* float: right; */
  }
  .Hamburger-nav{
     list-style-type: none;
     color: white;
     text-decoration: none;
     display: none;
  }
  .hamburger-icon{
    display: flex;
    position: relative;
    left: 50%;
    font-size: 2vw;
  }

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    margin-right: 2vw
}
.Hello {
  display: flex;
  flex-direction: column;
  

}
.Hello p{
margin-left: -69%;
}

#right-arrow {
  margin-left: 10%;
}
#icon {
  font-size:3vw ;
}
.main-text{
  font-size: 1.5vw;
  color: rgba(113, 108, 108, 1);
}
#submit-form{
  padding: 0.5vw 2.5vw 0.5vw 2.5vw;
  border-radius: 12px;
}

.sidebar .profile-header {
    text-align: center;
    margin-bottom: 20px;
    background-color:#f9d5b1 ;
   
}

.profile-header {
  display: flex;
  align-items: center;
  font: size 2vw;
}

.sidebar .profile-header h2 {
    margin: 0;
    color: #B71C1C;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 10px 0;
}

.sidebar-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

.sidebar-menu li.active > a {
    color: #B71C1C;
}

.sidebar-menu li ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

.sidebar-menu li ul li a {
    color: #555;
}

.profile-content {
    width: 75%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    line-height: 2vw;;
}

.profile-content h2 {
    margin-bottom: 20px;
    color: #000;
}

.form-group {
    margin-bottom: 20px;
    

}
.name {
  display: flex;
  flex-direction: row;
}

.Name , .email, .Number{
  display: flex;
  justify-content: space-between;
}

.edit-link1 {
  position: relative;
  right: 50%;
  text-decoration: none;
color: rgba(139, 0, 0, 1);
}
.edit-link2 {
  position: relative;
  right: 50%;
  text-decoration: none;
color: rgba(139, 0, 0, 1);
}

.gender {
  display: flex;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
    width: calc(50% - 10px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input[type="radio"] {
    margin-right: 5px;
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.form-group .edit-link {
    margin-left: 10px;
    color: #B71C1C;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #B71C1C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #8b0000;
}

/* manage address */
.profile-content {
  width: 75%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-content h2 {
  margin-bottom: 20px;
  color: #000;
}

.add-address-btn {
  background-color: rgba(210, 127, 127, 0.5);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
}

.add-address-btn:hover {
  background-color: rgba(210, 127, 127, 0.5);
}

.address-card {
  border: 1px solid #ddd;
  padding: 11px;
  margin-bottom: 20px;
  
}
.Edit {
  display: flex;
  align-items: center;
  word-spacing: 10px;
}
.x{
  word-spacing: 2px;
  margin-top: -0.5%;
}
.name-number{
  width: 50%;
display: flex;

/* justify-content: space-between; */
}
#name-number-2{
  margin-left: 3%;
}
.delivery-box{
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.delivery-box-1,.delivery-box-2{
display: flex;
flex-direction: column;
}
.delivery-box-1 input[type="radio"],.delivery-box-2 input[type="radio"]  {
  transform: scale(1.5); /* Increase or decrease the scale as needed */

}


#home-d, #home-d2 {
  accent-color: rgba(139, 0, 0, 1);
}

.address-card h3 {
  margin-top: 0;
  color: #B71C1C;
  text-align: left;
}

.address-actions {
  /* display: flex;
  justify-content: flex-end; */
  display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;

}

.address-actions a {
  /* margin-left: 10px; */
  color: #B71C1C;
  cursor: pointer;
}

.delivery-type h2 {
  margin: 1%;
  color: #000;
}
.delivery-type {
  margin-top: 20px;
  /* display: flex; */
  /* justify-content: space-between; */
}



.delivery-type label1, label2 {
  /* display:flex; */
  margin: 5px 0;
  color: #000;
}

/* Saved cards */

section.payment-management {
    width: 80%;
    padding: 1rem;
    background: white;
  }
  
  section.payment-management h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .add-card {
    background-color: rgba(210, 127, 127, 0.5);
     color: black;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .card-details {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    /* border: 1px solid #ccc; */
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .card-header h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #d9534f;
  }
  
  .actions a {
    text-decoration: none;
    color: #d9534f;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  form label {
    font-size: 0.9rem;
  }
  
  form input, form select {
    padding: 0.5rem;
    border: 1px solid rgba(139, 0, 0, 1);
    /* border-radius: 4px; */
  }
  

  .date-year{
    display: flex;
    margin-bottom: 1%;
  }
  .debit-valid-month,.debit-valid-year{
    border: none;
  
  }
  
  .debit-card-number,.debit-cvv{
    border: 1px solid rgba(139, 0, 0, 1);
    border-radius: 0;
    line-height: 1.7vw;
    
  }
  .debit-card-number{
    margin-bottom: 1%;
  }
  .date-year-input{
    display: flex;
    border: 1px solid rgba(139, 0, 0, 1);
    margin-right: 2%;
    width: 25%;
    line-height: 0.5vw;
  }
  .date-placeholder{
   margin-right: 9%;
   margin-left: 3%;
   color: rgba(113, 108, 108, 1);
  }
 .save-btn{
    width: 15%;
 }
 input:focus {
    outline: none;
}
.debit-valid-month:focus,.debit-valid-year:focus{
    outline: none;
}


/* footer */

footer {
    background-color:  rgba(217, 217, 217, 1);
    color: black;
    text-align: center;
    padding: 20px 0;
    font: Nunito Sans;
  }
  
  .footer .foot-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .footer .foot-card {
    flex: 1;
    text-align: left;
    padding: 0 10px;
  }
  
  .footer .foot-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  
  h1 {
    color: rgba(139, 0, 0, 1);
    
  }
  h2 {
    color: rgba(139, 0, 0, 1);
    
  }
  
  h3 {
    text-align: center;
    font-size: 1.5vw;
    color: rgba(139, 0, 0, 1);
    
  }
  .map-1{
    width: 30vh;
    height: 15vh;
    
  }
  .map{
    position: relative;
    right: 43vw;
  }
  .foot-container-box{
    display: flex;
    
  }
  .foot-container{
    display: flex;
    flex-direction: column;
   position: relative;
   
  }
  .foot-container-box1,.foot-container-box2,.foot-container-box3,.foot-container-box4{
    font-size: 1vw;
    list-style: none;
  }
   .foot-container-box-box{
    margin-left: 10vw
   }
  .follow-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -2%;
    margin: -3%;
    width: 100%;
  }
  .follow-us a{
  margin: 0 1vw 0 1vw;
  font-size: 1.3vw;
  }
  
  .copyright {
    color: #fff;
    padding: 10px 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }
  
    .categories, .products, .bridal-images, .genders, .recommendation-items {
        flex-direction: column;
        align-items: center;
    }
  
    .crystal, .carat, .products .product, .bridal-images .images, .genders .gender, .recommendation-items .recommendation {
        flex: 1 1 100%;
    }
  }
  
  /* ////////////// */
  @media screen and (min-width: 360px) and (max-width: 768px) {
    #check{
      display: none;
    }
   #check:checked ~ul{
      left:0;
     
    }
    #checkbtn{
      display:block;
      position: relative;
      left: -3%;
      font-size: 3vw;
    }
    .Hamburger-nav{
       list-style-type: none;
       color: white;
       text-decoration: none;
       display: flex;
       flex-direction: column;
       justify-content: center;
       position: absolute;
       top: 8%;
       background-color: rgba(131, 39, 41, 1);
       width: 95%;
       height: 60%;
       left: -200%;
       position: absolute;
       transition: .5s;
    }
    .Hamburger-nav a,.Hamburger-nav li{
      color: white;
      text-decoration: none;
     margin: 1rem;
    
    }
    .hamburger-icon{
      display: flex;   
    }
    .home-btn a,.brand a,.nav-list a,.C{
      display: block;
    }
    .home-btn a,.C{
      display: none;   
    } 
  }
